# A. Perkenalan


Milestone 3

Nama  : Ahmad Junjung S
Batch : FTDS-033-RMT

Program ini dibuat untuk melakukan automasi pengambilan data dari postgress server docker lalu di cleaning setalh itu post ke elastic yang akan digunakan untuk analisa terhadap Data yang telah dibersihkan di Elastic nantinya

# B. Import Library

In [1]:
import pandas as pd
from great_expectations.data_context import FileDataContext

# C. Instantiate Data Context

In [2]:
context = FileDataContext.create(project_root_dir='./')

# D. Connect Data

In [4]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'Milestone3-Dataset'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'Marketing-Retail'
path_to_data = 'C:\Somad\Bootcamp\Tugas\M3\project-m3\dags\gx\P2M3_ahmad_junjung_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

# E. Data Validation

In [5]:
# Creat an expectation suite
expectation_suite_name = 'Expectation-Marketing Retail'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,unnamed_0,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,...,mntfishproducts,mntsweetproducts,mntgoldprods,numdealspurchases,numwebpurchases,numcatalogpurchases,numstorepurchases,numwebvisitsmonth,response,complain
0,0,0,1826,1970,Graduation,Divorced,84835.0,0,0,2014-06-16,...,111,189,218,1,4,4,6,1,1,0
1,1,1,1,1961,Graduation,Single,57091.0,0,0,2014-06-15,...,7,0,37,1,7,3,7,5,1,0
2,2,2,10476,1958,Graduation,Married,67267.0,0,1,2014-05-13,...,15,2,30,1,3,2,5,2,0,0
3,3,3,1386,1967,Graduation,Together,32474.0,1,1,2014-11-05,...,0,0,0,1,1,0,2,7,0,0
4,4,4,5371,1989,Graduation,Single,21474.0,1,0,2014-08-04,...,11,0,34,2,3,1,2,7,1,0

## E.1 Expectations To be Unique

In [6]:
#Uji pertama adaalahh unique pada suatu kolom id untuk memastikan semuanya unique

validator.expect_column_values_to_be_unique('id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2034,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil diatas dapat dilihat bahwasanya teradapat 2034 data unique semua

## E.2 Expectitaion between min_value and max_value

In [12]:
#Deklarasi MIn dan Max Value
min_value = 100
max_value = 1000000

#validasi dengan menggunakan column income serta min dan max seperti yang di setting
validator.expect_column_values_to_be_between(
    column='income',
    min_value=min_value,
    max_value=max_value
    )

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2034,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dapat dilihat dari hasil bahwa semua data income memenuhi krietaria terhadap min dam max yang telah di setting, tentu saja ini dapat tidak memenuhi kriteria ketika kita setting range antara min dan max tidak terlalu jauh atau lebih sedikit maka akan ada kecenderungan ada data yang menjadi unexpected

## E.3 Excpetatin to be in Set

In [17]:
#Deklarasi nilai yang akan di cek
valid_set = ['Graduation', 'PhD', 'Master', '2n Cycle', 'Basic']

validator.expect_column_values_to_be_in_set(
    column='education',
    value_set=valid_set
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2034,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dapat dilihat dari hasil diatas bahwsanya data yang ada didalam valid_set ternyata memenuhi expectation untuk semua data didalam dataset

## E.4 Expectation to be in List

In [21]:
#deklarasi pengecekkan untuk tipe data
valid_type = ['int','float','object']

#validasi menggunakan to_be_in_type_list
validator.expect_column_values_to_be_in_type_list(
    column='income',
    type_list=valid_type
)

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dapat dilihat hasil true, karena data income teradpat didalam type dataset yang kita inisiasi yakni bertipe float

## E.5 Expectation to bot be in set

In [24]:
#Deklarasi terhadap values yang tidak diinginkan ada
invalid_set = [None]

# Menggunakan expectation untuk memeriksa apakah ada invalid set didalam kolom marital_status
validator.expect_column_values_to_not_be_in_set(
    column="marital_status",
    value_set=invalid_set
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2034,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dapat dilihat bahwasanya tidak ada invalid set yang bernilai null didalalam martial status (HEHEHEHEHHEHEHEHEHE Karena to_not_be_null sudah digunakan maka alternatif lainnya menggunakan ini)

## E.6 Excpetation Table Row Count To Equal

In [25]:
#deklarasi terhadap jumlah total baris dalam dataset
expected_row_count = 2034

validator.expect_table_row_count_to_equal(
    value=expected_row_count
)

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 2034
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Hasil dari data diatas True karena bernilai 2034 barisnya

## E.7 Expectation Values to noth Match Regex

In [29]:
# Daftar regex yang tidak boleh cocok
regex_list = [
    r'2020'  # Pola untuk mencocokkan tahun 2020
    r'2021'  # Pola untuk mencocokkan tahun 2021
]

validator.expect_column_values_to_not_match_regex_list(
    column='dt_customer',
    regex_list=regex_list
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2034,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Dapat dilihat bahwasanya tidak ada data dt_customer yang memmiliki nilai values 2020 dan 2021